<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Freemarkerdemo</title>
</head>
<#include "head.html"/>
<list>
    <#assign var="hello spring boot"/>
    <font size="18px">${var}</font>
    <br/>
    ${username!"username"}
    <br>
    <label for="username">UserName:</label><input type="text" id="username" value="${user.username}"><br>
    <label for="password">Password:</label><input type="text" id="password" value="${user.password}">
    <br>
    <#list list as item>
        ${item}
    </#list>
    <#if readonly??><p>没有找到该值</p></#if>

    <p>${aa}</p>
    <hr>

    <#assign answer=42/>
    ${answer}
    ${answer?string} <#-- the same as ${answer} -->
    ${answer?string.number}
    ${answer?string.currency}
    ${answer?string.percent}

    ${lastUpdated?string("yyyy-MM-dd HH:mm:templates zzzz")}

    ${foo?string("yes","no")}

<hr>
    <#assign x=2.582/>
    <#assign y=4/>
    #{x; M2} <#-- 输出2.58 -->
    #{y; M2} <#-- 输出4 -->
    #{x; m2} <#-- 输出2.58-->
    #{y; m2} <#-- 输出4.00 -->
    #{x; m1M2} <#-- 输出2.58 -->
    #{y; m1M2} <#-- 输出4.0 -->
</body>
</html>